@import url('https://fonts.googleapis.com/css?family=Oswald');
/* Dark Mode */

body {
  font-family: 'Oswald';
  background-color: #23263A;
  position: relative;
}
p{
  font-size: 80px;
  color: aliceblue;
}